<!-- Main Content -->
<div class="main">
  <div class="home-banner">
    <div class="container">
      <!-- Service Content -->
      <div class="box-wrap">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="box">
              <div class="icon">
                <img src="/image/icon-home/icon1_home3.png" alt="icon
                                            car" class="img-fluid" />
              </div>
              <div class="info-box">
                <h4>Free Shipping</h4>
                <p>On all orders over $75.00</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="box">
              <div class="icon">
                <img src="/image/icon-home/icon2_home3.png" alt="icon
                                            car" class="img-fluid" />
              </div>
              <div class="info-box">
                <h4>Free Free Returns</h4>
                <p>Returns are free within 9 days</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="box">
              <div class="icon">
                <img src="/image/icon-home/icon3_home3.png" alt="icon
                                            car" class="img-fluid" />
              </div>
              <div class="info-box">
                <h4>100% Payment Secure</h4>
                <p>Your payment are safe with us.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="box">
              <div class="icon">
                <img src="/image/icon-home/icon1_home3.png" alt="icon
                                            car" class="img-fluid" />
              </div>
              <div class="info-box">
                <h4>Support 24/7</h4>
                <p>Contact us 24 hours a day</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-content">
      <h4>Awesome Shop</h4>
      <h2>Jena Collection</h2>
      <div class="row">
        <div class="col-12 col-lg-6 wrap-box-colection">
          <a href="#">
            <div class="box-colection">
              <img src="/image/Collection/img4_home2.jpg" alt="watermelon" />
            </div>
          </a>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 col-md-6 wrap-box-colection">
              <a href="#">
                <div class="box-colection">
                  <img src="/image/Collection/img5_home2.jpg" alt="TOi" />
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 wrap-box-colection">
              <a href="#">
                <div class="box-colection">
                  <img src="/image/Collection/img6_home2.jpg" alt="TOi" />
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 wrap-box-colection">
              <a href="#">
                <div class="box-colection">
                  <img src="/image/Collection/img7_home2.jpg" alt="TOi" />
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 wrap-box-colection">
              <a href="#">
                <div class="box-colection">
                  <img src="/image/Collection/img8_home2.jpg" alt="TOi" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- home section ends -->

  <!-- features section starts  -->

  <div class="mt-1">
    <div class="row">

      {{#each courses}}
      <div class="col-sm-6 col-lg-4">
        <div class="card card-course-item">
          <a href="/courses/{{this.slug}}">
            <img class="card-img-top" src="/image/produce/{{this.image}}" alt="{{this.name}}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.decription}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>

  <div class="section-content">
    <h4>Awesome Shop</h4>
    <h2>Our Products</h2>
    <div class="container">
      <div class="row">
        <div class="tab-produce-list">
          <ul>
            <li class="text-center">
              <img src="/image/img_icon_produce_list/40-0_thumb.jpg" alt="img icon produce list" class="img-fluid" />
              <span class="hover-green">Laura Mercier</span>
            </li>
            <li class="text-center">
              <img src="/image/img_icon_produce_list/41-0_thumb.jpg" alt="img icon produce list" class="img-fluid" />
              <span class="hover-green">Nutrition</span>
            </li>
            <li class="text-center">
              <img src="/image/img_icon_produce_list/95-0_thumb.jpg" alt="img icon produce list" class="img-fluid" />
              <span class="hover-green">Full Miu</span>
            </li>
            <li class="text-center">
              <img src="/image/img_icon_produce_list/52-0_thumb.jpg" alt="img icon produce list" class="img-fluid" />
              <span class="hover-green">Salmon</span>
            </li>
          </ul>

          <div class="produce-category-slide">
            <div class="col">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart
                (<span class="total-count"></span>)</button><button class="clear-cart btn btn-danger">Clear
                Cart</button>
            </div>
            <div class="owl-carousel owl-theme
                                    produce-category">
              {{#each courses}}
              <div class="item card">
                <div class="item-product">

                  <div class="block-product">

                    <span class="mark-product new">
                      NEW </span>
                    <a href="/courses/{{this.slug}}">
                      <img class="card-img-top" src="/image/produce/{{this.image}}" alt="{{this.name}}"
                        class="second-img img-fluid">
                    </a>
                    <div class="product-info">
                      <h4>
                        <a href="/courses/{{this.slug}}" class="name
                                                            hover-green">
                          {{this.price}}
                        </a>
                      </h4>
                      <span class="price"><span class="root-price
                                                            text-decoration-line-through
                                                            text-black-50"></span>
                        {{this.gia}}
                      </span>
                      <div class="add-cart">
                        <a href="#" class="hover-green
                                                            btn-add-cart">
                          Xem chi tiết
                        </a>
                        <a href="#" data-name="{{this.name}}" data-price="{{this.price}}" data-product-id="{{this._id}}"
                          class="add-to-cart btn btn-primary">Add to cart</a>

                      </div>
                    </div>

                  </div>

                </div>
              </div>
              {{/each }}
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="show-cart table">

                  </table>
                  <div>Total price: $<span class="total-cart"></span></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Order now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-content instagram-content">
    <div class="owl-carousel owl-theme slide-instagram">
      <div class="item">
        <a href="#"><img src="/image/img_intragram/1.jpg" alt="Instagram" class="img-fluid" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="/image/img_intragram/2.jpg" alt="Instagram" class="img-fluid" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="/image/img_intragram/3.jpg" alt="Instagram" class="img-fluid" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="/image/img_intragram/4.jpg" alt="Instagram" class="img-fluid" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="/image/img_intragram/5.jpg" alt="Instagram" class="img-fluid" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="/image/img_intragram/6.jpg" alt="Instagram" class="img-fluid" /></a>
      </div>
    </div>
  </div>
  <div class="back-top" title="Go to top"><i class="fas fa-arrow-up"></i></div>
</div>

</div>